/*category highlights box*/

.categoryHighlightsBox {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  display: inline-flex;
  padding: 0 !important;
}

/*category highlights box end*/


/*wrapper of big box on the left*/

.catHighBigBoxWrapper {
  width: 50%;
  height: inherit;
  padding: 20px 0 20px 15px;
  position: relative;
}

/*wrapper of big box on the left end*/


/*big box itsef*/

.catHighBigBox {
  width: 100%;
  height: 100%;
}

/*big box itsef end*/


/*big img box*/

.catHighBigImgBox {
  height: 100%;
  overflow: hidden;
  box-shadow: #808080 0px 1px 5px 0px;
  transition: 0.3s all ease;
}

/*big img box end*/


/*category highlights lil box wrapper*/

.catHighLilBoxWrapper {
  width: 50%;
  height: inherit;
  padding: 10px 5px 10px 10px;
  display: inline-flex;
  justify-content: space-around;
  flex-flow: wrap;
}

/*category highlights lil box wrapper end*/


/*category highlights lil box*/

.catHighLilBox {
  width: 50%;
  height: 50%;
  padding: 10px;
  position: relative;
}

/*category highlights lil box end*/


/*little image box*/

.catHighLilImgBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: #808080 0px 1px 5px 0px;
  transition: 0.3s all ease;
}

/*little image box end*/


/*category highlights big box news text*/
/*width is 100% - padding of the parent element*/
/*if it was written in fucking sass, this wouldn't be such wierd*/

.catHighBigBoxNewsText {
  width: calc(100% - 15px);
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  bottom: 20px;
  padding: 2%;
  font-size: 15px;
  line-height: 140%;
}

.catHighLilBoxNewsText {
  width: calc(100% - 20px);
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  bottom: 10px;
  padding: 2%;
  font-size: 12px;
  line-height: 140%;
}

/*hover effects*/

.catHighBigBoxWrapper a:hover .catHighBigImgBox {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}
.catHighLilBox a:hover .catHighLilImgBox {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

/*hover effects end*/


/*category box which contains all news*/

.categoryBoxWrapper {
  width: 70%;
  padding: 0 5px;
}

/*category box which contains all news end*/


/*category news*/

.catNews {
  height: 300px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-decoration: none;
}

/*category news end*/

.catNewsBoxWrapper {
  width: 100%;
  height: inherit;
  background: white;
  box-shadow: #808080 0px 1px 5px 0px;
}
.catNewsBoxWrapper a {
  text-decoration: none;
  color: black;
}

/*category news image*/

.catNewsImg {
  width: 100%;
  height: 80%;
}

/*category news image end*/


/*news header*/

.catNewsDesc {
  width: 100%;
  height: 20%;
  font-size: 13px;
  line-height: 170%;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}

/*news header end*/
