
/*Little news box*/
.rightSideLastBoxWrapper{
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  text-align: left;
  margin-top: 35px;
}

.rightSideLastBoxWrapper h4{
  font-weight: bold;
  width: 100%;
  margin: 0;
  color: white;
  background: #F1462C;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}

.rightSideLastnewsBox{
  width: 100%;
  height: 70px auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid lightgray;
}


/*Little news box*/

.rightSideLastImg{
  float: left;
  width:60px;
  height: 100%;
  overflow: hidden;

}


.rightSideLastText{
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}
.rightSideLastText span{
  font-weight: bold;
}

.newsTitle{
  height: 80%;
}
.newsTitle:hover{
  cursor: pointer;
  color: #F24024;
}


.rightSideLastTextDetails{
  color: gray;
  font-size: 10px;
}
#rightSideLeftLastTextDetails{
  float: right;
  padding-bottom: 5px;
}


/* Inner Box */
