
/*Little news box*/
.lastNews{
  margin-top: 20px;
  background: #fcfcfc;
}

.rightSideLastBoxWrapper{
  width: 100%;
  height: 835px;
  vertical-align: middle;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  text-align: left;
}

.lastNews h3{
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  color: white;
  background: #F1462C;
  text-align: center;
  line-height: 35px;

}

.rightSideLastnewsBox{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom:5px;
  border-bottom: 1px solid lightgray;

}


.rightSideLastText{
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}


.newsTitle:hover{
  cursor: pointer;
  color: #F24024;
}


.rightSideLastTextDetails{
  color: gray;
  font-size: 10px;
}
#rightSideLeftLastTextDetails{
  float: right;
}

/*Little news box end*/

/* Inner Box */
