 /*Inner Box */

.newsCardBox{
  height: auto;
  width: 100%;
  margin-top: 21px;
}
.newsCardBox h3{
  background: #474747;
  color: white;
  line-height: 35px;
  text-align: center;
  margin: 0px;
}

.newsBlock{
  height: 400px;
  width: 100%;
  display: inline-flex;

}

/*Big Box on the left*/

.bigBoxWrapper{
  width: 50%;
  height: 95%;
  transition:  0.2s;
  margin:20px 10px 0 0;
  padding:0;
}
.bigBoxWrapper:hover{
  box-shadow: 0 1px 10px 0 gray;
  cursor: pointer;
  -webkit-filter:brightness(115%);
  filter: brightness(115%);
}

.bigImgDiv{
width: 100%;
height: 70%;
overflow: hidden;
}

.bigImgDiv img{
  height: 100%;

}


.bigTextDiv{
width: 100%;
height: 25%;
margin: 15px 0 0 0;
font-size: 15px;
text-align: justify;
overflow: hidden;
padding: 5px;
}

/*Big Box on the left*/

/*Little news box*/
.lilBoxWrapper{
  width: 50%;
  height: 95%;
  margin: 20px 0 0 10px;
  vertical-align: middle;
  display: flex;
  flex-direction:column;
  justify-content: space-between;

}

.lilnewsBox{
  width: 100%;
  height: 30%;
  position: relative;
  transition: 0.2s;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;

}

.lilnewsBox:hover{
  cursor: pointer;
  box-shadow: 0 1px 10px 0 gray;
  -webkit-filter:brightness(120%);
  filter: brightness(120%);

}
/*Little news box*/

.lilImg{
  float: left;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.lilImg img{
  height: 100%;
}



.lilText{
  width: 60%;
  height: 100%;
  font-size: 13px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

#imgBox1{
  background-image: url('../img/erdo.jpg');
  background-size: cover;
  background-position: center;
}
#imgBox2{
  background-image: url('../img/isid.jpg');
  background-size: cover;
  background-position: center;
}
#imgBox3{
  background-image: url('../img/terane.jpg');
  background-size: cover;
  background-position: center;
}

/* Inner Box */
