
/*Little news box*/

.popularNews{
  height: 455px;
  padding-bottom: 25px;
}



.popularNews h3{

  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  background: #F1462C;
  text-align: center;
  line-height: 35px;
}




.rightSideLilBoxWrapper{
  height: 90%;
  width: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  text-align: left;
}


.rightSideLilnewsBox{
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}


/*Little news box*/

.rightSideLilImg{
  float: left;
  width: 22%;
  height: 100%;
  overflow: hidden;

}
.rightSideLilImg img{
  height: 100%;
}

.rightSideLilText{
  height: 100%;
  font-size: 13px;
  width: 75%;
  overflow: hidden;
  float: right;
  position: relative;
}

.newsTitle{
  height: 80%;
  line-height: 170%;
  overflow: hidden;
}

.newsTitle:hover{
  cursor: pointer;
  color: #F24024;
}

#rightImgBox1{
  background-image: url('../img/erdo.jpg');
  background-size: cover;
  background-position: center;
}
#rightImgBox2{
  background-image: url('../img/isid.jpg');
  background-size: cover;
  background-position: center;
}
#rightImgBox3{
  background-image: url('../img/terane.jpg');
  background-size: cover;
  background-position: center;
}

.rightSideLilTextDetails{
  height: 20%;
  color: gray;
  font-size: 9px;
}

#rightTextDetails{
  float: right;
}

#rightTextDetails i:first-child{
  margin-right: 10px;
}


/* Inner Box */
