
/*Little news box*/

/*Popular News Block*/

.popularNews{
  height: 455px;
  padding-bottom: 25px;
}

/*popular news header*/

.popularNews h3{
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  background: #F1462C;
  text-align: center;
  line-height: 35px;
}
/*popular news header end*/

/*little box wrapper*/

.rightSideLilBoxWrapper{
  height: 90%;
  width: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  text-align: left;
}

/*little news box*/

.rightSideLilnewsBox{
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}


/*Little news box*/

/*news image div*/

.rightSideLilImg{
  float: left;
  width: 22%;
  height: 100%;
  overflow: hidden;

}

/*news image div*/

/*news image*/
.rightSideLilImg img{
  height: 100%;
}
/*news image end*/

/*news text content*/

.rightSideLilText{
  height: 100%;
  font-size: 13px;
  width: 75%;
  overflow: hidden;
  float: right;
  position: relative;
}

/*news text content end*/

/*news title*/

.newsTitle{
  height: 80%;
  line-height: 170%;
  overflow: hidden;
}

/*news title end*/

/*news title hover effect*/
.newsTitle:hover{
  cursor: pointer;
  color: #F24024;
}
/*news title hover effect end*/

/*comment and view count*/
.rightSideLilTextDetails{
  height: 20%;
  color: gray;
  font-size: 9px;
}

#rightTextDetails{
  float: right;
}

#rightTextDetails i:first-child{
  margin-right: 10px;
}
/*comment and view count end*/

/*little news box end*/

/*little box wrapper end*/

/*Popular News Block end*/

/* Inner Box end*/
