
/*Little news box*/
.rightSideLilBoxWrapper{
  width: 100%;
  height: 300px;
  vertical-align: middle;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  text-align: left;
  padding-top:25px;
}

.rightSideLilBoxWrapper h4{
  font-weight: bold;
  width: 100%;
  margin: 0;

}
.rightSideLilBoxWrapper{

}


.rightSideLilnewsBox{
  width: 100%;
  height: 60px;
  position: relative;
  transition: 0.2s;
  box-sizing: border-box;
}


/*Little news box*/

.rightSideLilImg{
  float: left;
  width:60px;
  height: 100%;
  overflow: hidden;
  border-radius: 5%;

}
.rightSideLilImg img{
  height: 100%;
}

.rightSideLilText{
  width: 70%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}
.rightSideLilText span{
  font-weight: bold;
}

.newsTitle{
  height: 80%;
}
.newsTitle:hover{
  cursor: pointer;
  color: #F24024;
}

#rightImgBox1{
  background-image: url('../img/erdo.jpg');
  background-size: cover;
  background-position: center;
}
#rightImgBox2{
  background-image: url('../img/isid.jpg');
  background-size: cover;
  background-position: center;
}
#rightImgBox3{
  background-image: url('../img/terane.jpg');
  background-size: cover;
  background-position: center;
}

.rightSideLilTextDetails{
  color: gray;
  font-size: 10px;
}
#rightSideLeftLilTextDetails{
  float: left;
}
#rightTextDetails{
  float: right;
}
#rightTextDetails i:first-child{
  margin-right: 10px;
}


/* Inner Box */
